*{
    box-sizing: border-box;
    padding: 0;
}

:root{
    --primary-color: #F9A8D4;
}

body{
    background: linear-gradient(to right, #ad5389, #3c1053);
    color: aliceblue;
    text-align: center;
}

.header{
   
    padding: 20px;
    margin: 30px;
}

.header_para{
    font-size: 19px;
    margin-top: 25px;
}

.main{
    display: flex;
}

#donald_img{
    padding-top: 20px;
    margin-top: 20px;
}

.cash{
    padding: 0 15px 15px 15px;
    margin: 0 15px 15px 15px;
    color: var(--primary-color);
}

.cash_amount{
    display: block;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0;
    font-size: 23px;
}

input{
    width: 50%;
    height: 10vh;
}

#submit_btn{
    display: block;
    margin: auto;
    padding: 15px 20px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 84px;
    height: 39px;
    background-color: var(--primary-color);
    border: orchid;
    text-align: center;
    cursor: pointer;
}

#table{
    display: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

@media screen and (min-width:360px) {
    .main{
        flex-wrap: wrap;
    }

    .main_img{
        width: 100%;
    }

    .main_form{
        width: 100%;
    }
}

@media screen and (min-width:768px) {

    .main_img{
        width: 30%;
    }

    .main_form{
        width: 70%;
    }
}

